    
.title {
  color: #02ccba;
}
main {
  height: auto;
  width: auto;
}
.visual {
  height: 700px;
  width: auto;
  background-image: url(https://raw.githubusercontent.com/sndweo/sndweo/master/yamanekosnipe.png);
  background-size: cover;

  }
