
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);



body {
    font-family:serif,"Noto Sans JP";
    margin: 0;
    width:100%;

}


header {
  height:60px;
  width: 100%;
  background-color: rgba(10, 10, 26, 0.9);
  color:white;
  opacity: 0.8;
  position: fixed;
  top:0;
  z-index: 10;

}

header h1{
  display: block;
  float: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 0px;
  line-height: 60px;
  padding-left:10px;
}

.header-menus{
  display: block;
  float: right;
  height: 60px;
}
.header-menus ul{
  margin:0;
}
.header-menus li{
  float: left;
  padding:0 20px;
  line-height: 60px;
  font-size: 23px;
}
.header-menus a{
  color:white;
  opacity: 0.8;
  text-decoration: none;
}
.header-menus a:hover{
  border-bottom: 2px solid white;
  opacity: 1;
}


.title {
  color: #02ccba;
}

main {
  height: auto;
  width: auto;
}
.visual {
  height: 800px;
  width: auto;
  background-image: url();
  background-size: cover;
  font-size: 40px;
  color: white;
  text-align: center;
}
.visual-bg{
  background-color: rgba(0, 0, 0, 0.5);
  height:800px;
}

.visual p {
  padding-top: 150px;
  font-weight: bold;
  display:none;
}

.name {
  display:none;
  padding-top: 100px;
  font-size: 80px;
  border-bottom:4px solid white;
}

.name rt{
  font-size: 27px;
}

.about-ogata{
    padding-top:100px;
}

.about-ogata rt{
  font-size: 10px;
}

.about-golden-kamuy{
  height: auto;
  text-align: center;
}
.about-golden-kamuy h2{
  font-weight: bold;
  font-size: 25px;

}
.about-golden-kamuy p {
height: auto;
font-size: 15px;
}

.about-golden-kamuy span{
  font-weight: bold;
  color:red;
}

.about-golden-kamuy img{
  display: block;
}

.img-right{
  float:right;

}


.inner {
  text-align: center;
}

.inner h3{
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 25px;
}

.charm-points{
  width: 100%;
  margin: 0 auto;
  height: 400px;
  padding-top:200px;
  padding-bottom:200px;
}

.charm-point {
  float: left;
  width:25%;

}

.charm-point p{
  display: inline-block;
  width:100%;
}

.charm-btn{
  display: inline-block;
  height:200px;
  width:200px;
  position:relative;
}

.charm-btn a{
  display:inline-block;
  position: absolute;
  top:0;
  left:0;
  line-height: 200px;
  width: 200px;
  color:white;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  background-size: cover;
}


.charm-btn a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.charm-btn a:active{
  background-image: url("");
}


  background-image: url("");

.clear{
  clear: left;
}

.charm-show{
  display: block;
  margin-top:100px;
  padding-top: 100px;
  padding-bottom: 150px;
  background-clip:content-box;
  background-color: #f5f5f5;

}

.charm-show img{
  display:block;
  padding: 50px 10px 0 10px;

}

.show-image-left{
  float: left;
  padding-right: 70px;

}
.show-image-right{
  float:right;
}

.show-text {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 17px;

}
.show-text-right{
  width: 800px;
  padding-left: 150px;
  margin-right: 0 auto;
}
.show-text-left{
  text-align: left;
  padding-left: 60px;
  width:850px;
  margin-left:0 auto;
}
.show-text h3{
  margin-top: 0px;
  font-size: 30px;
  border-bottom: double 5px black;
}

.about-cv-actor{
  height: 700px;
  padding-left: 10px ;
  position:relative;
}
.cv-icon{
  display: block;
  position: absolute;
  top:199px;
  left:15px;
}

.about-cv-actor-text{
  padding:200px 0 100px 100px;
  height: 400px;
}
.about-cv-actor-text h4{
  border-bottom: solid 1px black;
}
.thank-text{
  text-align: center;
  padding-bottom: 90px;
  font-size: 20px;
}

footer {
  height:450px;
  width:100%;
}
.page-top {
  background-color: #f0f8ff;
  height:60px;
  width:100%;
}
.page-top  a{
  display: block;
  height:60px;
  width:100%;
  color:#366eb3;
  text-align: center;
  font-size: 20px;
  opacity: 0.8;
  font-weight: bold;
  line-height: 60px;
  text-decoration: none;
}

.page-top :hover{
  background-color: rgba(0,0,0,0.3)
}
.page-top a:hover{
  color:white;
}

.links{
  height:400px;
  background-color: #0a0a1a;
  color:#7a7a99;
  display: block;
  text-align: center;

}

.links a {
  text-decoration:none;
  color:#7a7a99;

}
.link-block{
  display: block;
  margin: auto;
  height: 400px;
  width: 600px;
}

.link{
  display:block;
  float:left;
  padding-top: 50px;
  width: 300px;
}
.link p {
  font-size:20px;
  font-weight: bold;

}

ul{
  padding-left: 0;
}

li {
  list-style: none;
  padding:5px 0 5px 0;
}

.info{
  height: 150px;
  width: 100%;
  background: repeating-linear-gradient(
    to top, #000000, #000000 55px,
    #4d4d00 55px, #4d4d00 60px,#000000 60px, #000000 65px,
    #4d4d00 65px,#4d4d00 70px,#000000 70px, #000000 75px,
    #4d4d00 75px, #4d4d00 80px,#000000 80px, #000000 150px);
  color: #1a1a1a;
}

.info-separate{
  float: left;
  width:50%;
}

/*info の左側*/

.info-left{
  display:block;
  float: left;
  height: 90px;
  padding-top: 30px;
  width: auto;
}

.footer-logo img{
  max-height: 90px;
  padding-left: 20px;
  width: auto;
}

/*infoの右側*/

.separate-right{
  position:relative;
}
.about-me{
  display: block;
  margin-left: auto;
  height: 130px;
  width: 230px;
  padding-top: 35px;
  position: relative;
}

.name-center{
  display: block;
  height: 115px;
  width: 90px;
  margin-right: auto;
}

.name-center p{
  font-size: 13px;
}

.page{
  display: inline-block;
  font-size: 17px;
}

.pic-right{
  position: absolute;
  top: 35px;
  left: 140px;
  display: block;
  float: right;
  height: 115px;
  width: 90px;
  margin: 0;
}

.pic-right p {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 12px;

}

.pic-right a{
  color: #1a1a1a;
  font-size: 13px;
  margin-top: 13px;
}




.copy{
  height:60px;
  font-size: 15px;
  color: #655c99;
  background-color: #0a0a1a;
}
.copy p{
  margin: 0;
}
