    
.title {
  color: #02ccba;
}
main {
  height: auto;
  width: auto;
}
.visual {
  height: 600px;
  width: auto;
  background-image: url(https://raw.githubusercontent.com/sndweo/sndweo/master/backgroundyamanekoscope.png);
  background-size: cover;

  }
